@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["Subtitle"] = "Your password has been reset.";
}
<div class="row mt25">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="legend">@ViewBag.Title</h2>
        <p class="sublegend">@ViewBag.Subtitle</p>

        <p>Please <a asp-route="Account">click here to access our account</a>.</p>
    </div>
</div>
