@{
    ViewBag.Title = "Password Reset Request";
    ViewBag.Subtitle = "We sent you an email.";
}
<div class="row mt25">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="legend">@ViewBag.Title</h2>
        <p class="sublegend">@ViewBag.Subtitle</p>

        <p>A password reset request was sent. Check your email for details how to complete the password change.</p>
    </div>
</div>
