@model AppSyndication.AccountService.Web.Models.RequestPasswordUpdate

<div class="form-group">
    <label for="Email">Email</label>
    <input id="Email" name="Email" type="email" class="form-control" value="@(Model?.Email ?? String.Empty)" required maxlength="100" autofocus>
</div>
